<body>
  <header>
    <h1>LISTS</h1>
  </header>
  <main>
    <section>
      <h2>Mat list with list-items</h2>
      <mat-list dense>
        <mat-list-item>mat-list-item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>mat-list-item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>mat-list-item 3</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>mat-list-item 4</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>mat-list-item 5</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>mat-list-item 6</mat-list-item>
      </mat-list>
    </section>
    <section>
      <h2>Mat list with Icons</h2>
      <mat-list class="icon-list-item">
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          <h3 matLine>Heading</h3>
          <p matLine>Paragraph</p>
        </mat-list-item>
        <mat-divider vertical="true"></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>image</mat-icon>
          <h3 matLine>Heading</h3>
          <h4 matLine>Sub heading</h4>
          <p matLine>Paragraph</p>
        </mat-list-item>
        <mat-divider vertical="true"></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>filter_vintage</mat-icon>
          <h3 matLine>Heading</h3>
          <p matLine>Paragraph</p>
        </mat-list-item>
      </mat-list>
    </section>
  </main>
</body>
