<body>
  <h1>BUTTONS</h1>
  <mat-divider></mat-divider>
  <h2>Normal mat-button</h2>
  <div>
    <button mat-button>Normal Button</button>
    <button mat-button color="primary">Primary Color</button>
    <button mat-button color="accent">Accent Color</button>
    <button mat-button color="warn">Warn Color</button>
    <button mat-button disabled>Disabled</button>
  </div>
  <mat-divider></mat-divider>

  <h2>Mat-raised-button</h2>
  <div>
    <button mat-raised-button>Normal Button</button>
    <button mat-raised-button color="primary">Primary Color</button>
    <button mat-raised-button color="accent">Accent Color</button>
    <button mat-raised-button color="warn">Warn Color</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
  <mat-divider></mat-divider>

  <h2>Mat-flat-button</h2>
  <div>
    <button mat-flat-button>Normal Button</button>
    <button mat-flat-button color="primary">Primary Color</button>
    <button mat-flat-button color="accent">Accent Color</button>
    <button mat-flat-button color="warn">Warn Color</button>
    <button mat-flat-button disabled>Disabled</button>
  </div>
  <mat-divider></mat-divider>
  <h2>Mat-stroked-button</h2>
  <div>
    <button mat-stroked-button>Normal Button</button>
    <button mat-stroked-button color="primary">Primary Color</button>
    <button mat-stroked-button color="accent">Accent Color</button>
    <button mat-stroked-button color="warn">Warn Color</button>
    <button mat-stroked-button disabled>Disabled</button>
  </div>
  <mat-divider></mat-divider>
  <h2>Some other buttons</h2>
  <div>
    <button mat-icon-button aria-label="icon" color="primary">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-fab color="accent">fab</button>
    <button mat-mini-fab color="warn">mini</button>
  </div>
</body>
