<body>
  <header>
    <h1>TYPOGRAPHY</h1>
    <h2>Display titles</h2>
    <section>
      <div class="mat-display-4">class="mat-display-4"</div>
      <div class="mat-display-3">class="mat-display-3"</div>
      <div class="mat-display-2">class="mat-display-2"</div>
      <div class="mat-display-1">class="mat-display-1"</div>
    </section>
  </header>
  <main>
    <section>
      <h2>Section Headings</h2>
      <div class="mat-headline">class="mat-headline</div>
      <div class="mat-title">class="mat-title"</div>
      <div class="mat-subheading-2">class="mat-subheading-2"</div>
      <div class="mat-subheading-1">class="mat-subheading-1"</div>
    </section>
    <section>
      <h2>Body Text</h2>
      <div class="mat-body-1">class="mat-body-1" Body Text</div>
      <div class="mat-body-2">class="mat-body-2" Bold text</div>
      <div class="mat-caption">class="mat-caption" Caption text</div>
    </section>
    <section>
      <h2>Inside tag class="mat-typography"</h2>
      <div class="mat-typography">
        <h1>This is h1</h1>
        <h2>This is h2</h2>
        <h3>This is h3</h3>
        <h4>This is h4</h4>
      </div>
    </section>
  </main>
</body>
