$light-blue-primary: (
  50: #d8fbfa,
  100: #98f4f0,
  200: #02eee6,
  300: #00e3d7,
  400: #00d7c8,
  500: #00ccb8,
  600: #00bca8,
  700: #00aa95,
  800: #009984,
  900: #007b62,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);
$light-blue-complementary: (
  50: #ffe9eb,
  100: #ffc8ca,
  200: #f9918b,
  300: #f0645e,
  400: #f93b32,
  500: #fc1e03,
  600: #ee020a,
  700: #dd0005,
  800: #d00000,
  900: #c30000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$light-blue-analogous: (
  50: #e1fde7,
  100: #b7f8c5,
  200: #80f39e,
  300: #02ee70,
  400: #00e748,
  500: #00de26,
  600: #00cd16,
  700: #00b900,
  800: #00a700,
  900: #008500,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$light-blue-triadic: (
  50: #eee6ff,
  100: #d2c1fd,
  200: #b397fd,
  300: #916afe,
  400: #7246fe,
  500: #4b1afc,
  600: #3815f6,
  700: #020aee,
  800: #0001e9,
  900: #0000e6,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);
