<body>
  <h1>CARDS</h1>
  <main>
    <mat-card>
      <mat-card-header>
        <img
          mat-card-avatar
          alt="Yelose"
          src="https://avatars.githubusercontent.com/u/56456756?s=96&v=4"
        />
        <mat-card-title-group>
          <mat-card-title>Small Image</mat-card-title>
          <mat-card-subtitle>mat-card-sm-image</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content
        >Primary card content. Intended for blocks of text</mat-card-content
      >
      <img
        src="https://image.shutterstock.com/z/stock-vector-software-development-flat-concept-vector-illustration-coding-website-woman-at-desk-female-1960610398.jpg"
        alt="web developer"
        mat-card-sm-image
      />
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
        <button mat-raised-button color="warn">Cancelar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <img
          mat-card-avatar
          alt="Yelose"
          src="https://avatars.githubusercontent.com/u/56456756?s=96&v=4"
        />
        <mat-card-title-group>
          <mat-card-title>Medium Image</mat-card-title>
          <mat-card-subtitle>mat-card-md-image</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content
        >Primary card content. Intended for blocks of text</mat-card-content
      >
      <img
        src="https://image.shutterstock.com/z/stock-vector-software-development-flat-concept-vector-illustration-coding-website-woman-at-desk-female-1960610398.jpg"
        alt="web developer"
        mat-card-md-image
      />
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
        <button mat-raised-button color="warn">Cancelar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <img
          mat-card-avatar
          alt="Yelose"
          src="https://avatars.githubusercontent.com/u/56456756?s=96&v=4"
        />
        <mat-card-title-group>
          <mat-card-title>Large Image</mat-card-title>
          <mat-card-subtitle>mat-card-lg-image</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content
        >Primary card content. Intended for blocks of text</mat-card-content
      >
      <img
        src="https://image.shutterstock.com/z/stock-vector-software-development-flat-concept-vector-illustration-coding-website-woman-at-desk-female-1960610398.jpg"
        alt="web developer"
        mat-card-lg-image
      />
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar</button>
        <button mat-raised-button color="warn">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </main>
</body>
